{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>custom project</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="css/jquery.countdown.css">  {% endcomment %}
    <link rel="stylesheet" href={% static "styles.css" %} >
    <script type="text/javascript" src="js/jquery.plugin.js"></script> 
    <script type="text/javascript" src="js/jquery.countdown.js"></script>
</head>

<body>
    <header>

        <nav>

            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'logout' %}"><button class='btn'>Logout</button></a></li>
                <li><a href="{% url 'create' %}"><button class="btn fourth"> Create Task</button></a></li>
                <li>EXP: {{user.exp}}</li>
                

            </ul>
            {% else %}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">signup</a></li>
            {% endif %}


        </nav>

    </header>
    {% block pagination %}
    {% endblock pagination %}
    {% block content %}
    {% endblock content %}
</body>
