{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if task_list %}
        <table>
            <tr>
                <th>Name</th>
                <th>Importance</th>
            </tr>
        {% for task in task_list %}
        <tr>
        <td>{{task.name}}</td> 
        <td>{{task.difficulty}}</td>
        
        {% if task.is_completed %}
                                <td>Done</td>
                            {% else %}
                            <td>
                            <p id="demo-{{task.id}}" data-task-due={{task.due_date.isoformat}}></p> 
                            <script>
                                function addHours(numOfHours, date = new Date()) {
                                date.setTime(date.getTime() + numOfHours * 60 * 60 * 1000);

                                return date;
                                }

                                // Set the date we're counting down to
                                // var countDownDate = addHours(1);
                                var countDownDate2{{task.id}} = document.getElementById("demo-{{task.id}}").dataset.taskDue
                                // Update the count down every 1 second

                                var x = setInterval(function() {
                                
                                
                                var countDownDatenew{{task.id}} = new Date(countDownDate2{{task.id}});
                                var countDownDateadded{{task.id}} = addHours(1, countDownDatenew{{task.id}});
                                var timegot{{task.id}} = countDownDatenew{{task.id}}.getTime()+ 21601000;
                                  // Get today's date and time
                                  var later{{task.id}} = new Date().getTime() + 21601000;
                                  var now = new Date().getTime();
                                
                                  // Find the distance between now and the count down date
                                  
                                  var distance = timegot{{task.id}} - now;
                                  
                                  // Time calculations for days, hours, minutes and seconds
                                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                //   countDownDate += hours * 5
                                  // Display the result in the element with id="demo"
                                  document.getElementById("demo-{{task.id}}").innerHTML = minutes + "m " + seconds + "s ";
                                
                                  // If the count down is finished, write some text
                                  if (minutes == 0 && seconds == 0) {
                                    clearInterval(x);
                                    document.getElementById("demo-{{task.id}}").innerHTML = "EXPIRED";
                                  }
                                }, 1000);
                                </script>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        
                                        <button class='btn-1'>Complete</button>
                                    </form>
                                </td>
                                {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <p>You have no tasks</p>
    {% endif %}

    </div>
</main>
<footer>
    <span>
        {% if page_obj.has_previous %}
        <a href=">page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span>
            Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</footer>
{% endblock %}